$apple-sunset-orange: rgb(255, 96, 92);
$apple-pastel-orange: rgb(255, 189, 68);
$apple-malachite: rgb(0, 202, 78);
$apple-dark-yellow: rgb(255, 214, 10);

$apple-light-gray1: rgb(142, 142, 147);
$apple-light-gray2: rgb(174, 174, 178);
$apple-light-gray3: rgb(199, 199, 204);
$apple-light-gray4: rgb(209, 209, 214);
$apple-light-gray5: rgb(229, 229, 234);
$apple-light-gray6: rgb(242, 242, 247);

$apple-light-blue: rgb(0, 122, 255);
$apple-light-red: rgb(255, 59, 49);
$apple-light-green: rgb(52, 199, 89);


$apple-dark-gray1: rgb(142, 142, 147);
$apple-dark-gray2: rgb(99, 99, 102);
$apple-dark-gray3: rgb(72, 72, 74);
$apple-dark-gray4: rgb(58, 58, 60);
$apple-dark-gray5: rgb(44, 44, 46);
$apple-dark-gray6: rgb(28, 28, 30);

$apple-dark-blue: rgb(10, 132, 255);
$apple-dark-red: rgb(255, 69, 58);
$apple-dark-green: rgb(48, 209, 88);

$message-gray: rgb(58, 58, 60);
$message-blue: rgb(10, 132, 255);

.container {
    height: 100vh;
    width: 100vw;
    background: -webkit-linear-gradient(top left, #653472, #31B6F5);
    background: -moz-linear-gradient(top left, #653472, #31B6F5);
    background: linear-gradient(to bottom right, #653472, #31B6F5);;
}

.messenger-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 320px auto;
    grid-template-rows: 100%;
    grid-template-areas: "sidebar main";

    .sidebar {
        grid-area: sidebar;
        display: flex;
        flex-direction: column;
        background-color: rgba($apple-dark-gray5, 0.8);
        backdrop-filter: blur(20px) saturate(160%);
        -webkit-backdrop-filter: blur(20px) saturate(160%);
        border-right: 1px solid black;

        .sidebar-header {
            height: 60px;
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            padding: 0 1rem;
        }

        .sidebar-content {
            height: 100%;
            width: 100%;
            padding: 1rem;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
    }

    .conversations-area {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .pinned-container {
        height: 115px;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
      
    .pinned {
        height: 115px;
        width: 95px;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: $apple-dark-gray1;
    }
      
    .pinned-photo {
        height: 75%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
      
      .pinned-name {
        height: 25%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        font-weight: 650;
      }
      
      .image-pinned {
        height: 65px;
        width: 65px;
        border-radius: 50px;
        background: white;
      }
      
      .image, .contact-photo {
        height: 40px;
        width: 40px;
        border-radius: 50px;
        margin-right: 5px;
      }
      
      .contact-photo { 
        display: flex;
        justify-content: center;
        align-items: center;
        background: $apple-dark-gray2;
      
        h3 {
          color: white;
          font-size: medium;
        }
      }
      
      
      .conversation {
        height: 65px;
        width: 100%;
        border-radius: 5px;
        color: $apple-dark-gray5;
        display: flex;
        flex-direction: row;
      }
      
      
      
      .image-container {
        height: 100%;
        width: 20%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
      }
      
      .conversation-content {
        width: 78%;
        display: flex;
        flex-direction: column;
        padding: 10px 0;
        justify-content: flex-start;
        align-items: left;
        text-overflow: ellipsis;
        border-bottom: 1px solid $apple-dark-gray3;
        color: $apple-dark-gray1;
      
        .content-top {
            width: 100%;
            height: 20px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
      
            p { margin-right: 10px }
        }
      
        h5 {
            color: white;
        }
      
        p {
            margin: 0.5px 0 0;
            font-size: 12px;
            font-weight: 600;
        }
      }

      .clicked {
        background: $apple-dark-blue;
        border: none;
        border-radius: 5px;
        color: white;
      }
}






.main {
    grid-area: main;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .main-header {
    position: fixed;
    z-index: 2;
    height: 55px;
    width: calc(100% - 320px);
    border-bottom: 1px solid black;
    border-top-right-radius: inherit;
    background-color: rgba($apple-dark-gray4, 0.9);
    backdrop-filter: blur(60px) brightness(140%);
    -webkit-backdrop-filter: blur(60px) brightness(140%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 13px;
    font-weight: 650;
  
    .contact {
      margin-left: 1rem;
      color: $apple-dark-gray1;
      font-size: 13px;
      font-weight: 650;
    }
  
    .contact-name {
      margin-left: 5px;
      color: white;
    }
    
    .contact-name-input {
      height: 20px;
      width: 250px;
      background: none;
      border: none;
      border-radius: 25px;
      margin-left: 5px;
      color: white;
      outline-width: 0;
      font-size: 13px;
      font-weight: 650;
      
      &:focus {
        outline: none;
      }
    }
  }
  
  .main-content {
    height: 100%;
    width: 100%;
    padding: 55px 0;
    border-radius: 0 10px 10px 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    background: $apple-dark-gray6;
  
    .message {
      position: relative;
      height: fit-content;
      max-width: 50%;
      padding: 6px 12px;
      margin-bottom: 3px;
      border-radius: 15px;
      color: white;
      font-size: 15px;
      font-weight: 525;
    }
    
    .received {
      margin-left: 1em;
      align-self: flex-start;
      background: $apple-dark-gray4;
    }
    
    .sent {
      margin-right: 1em;
      align-self: flex-end;
      background: $apple-dark-blue;
    }
    
    .received.last:before {
      content: "";
      position: absolute;
      z-index: 0;
      bottom: 0;
      left: -8px;
      height: 15px;
      width: 20px;
      background: $apple-dark-gray4;
      border-bottom-right-radius: 15px;
    }
    
    .received.last::after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      left: -10px;
      width: 10px;
      height: 15px;
      background: $apple-dark-gray6;
      border-bottom-right-radius: 10px;
    }
    
    .sent.last:before {
      content: "";
      position: absolute;
      z-index: 0;
      bottom: 0;
      right: -8px;
      height: 15px;
      width: 20px;
      background: $apple-dark-blue;
      background-attachment: fixed;
      border-bottom-left-radius: 15px;
    }
    
    .sent.last::after {
      content: "";
      position: absolute;
      z-index: 1;
      bottom: 0;
      right: -10px;
      width: 10px;
      height: 20px;
      background: $apple-dark-gray6;
      border-bottom-left-radius: 10px;
    }
    
    .delivered {
      color: $apple-dark-gray1;
      align-self: flex-end;
      font-size: 12px;
      font-weight: 600;
      margin: 0px;
      margin-right: 1.5em;
      margin-bottom: 1em;
    }
}
  
  
  .main-footer {
    position: absolute;
    z-index: 2;
    bottom: 0%;
    height: 55px;
    width: calc(100% - 320px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom-right-radius: inherit;
    align-items: center;
    background-color: rgba($apple-dark-gray6, 0.9);
    backdrop-filter: blur(60px) saturate(140%);
    -webkit-backdrop-filter: blur(60px) saturate(140%);
    
    .message-input {
      height: 30%;
      width: 92%;
      background-color: $apple-dark-gray6;
      border-radius: 25px;
      border: 0.1px solid gray;
      padding: 5px 5px 5px 10px;
      color: white;
    }
  }
  
  
  .timestamp {
    // margin: 0.5rem 0;
    color: $apple-dark-gray1;
    height: 40px;
    width: fit-content;
    align-self: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  
    h6 {
      font-size: 12px;
      font-weight: 700;
      margin: none;
    }
  
    p {
      margin: none;
      margin-left: 2px;
      font-weight: 650;
      font-size: 12px;
    }
  }


@media only screen and (max-width: 640px) {
    .container {
        height: 100vh;
        width: 200vw;
        background: $message-blue;
        // overflow: hidden;
    }

    .messenger-container {
        position: relative;
        height: 100vh;
        width: 200vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    
        .sidebar {
            position: relative;
            height: 100vh;
            width: 100vw;
            display: flex;
            flex-direction: column;
            background-color: rgba($apple-dark-gray5, 0.8);
            backdrop-filter: blur(20px) saturate(160%);
            -webkit-backdrop-filter: blur(20px) saturate(160%);
            border: none;
        }
    }

    .main {
        position: relative;
        height: 100vh;
        width: 100vw;
        bottom: 0;

        .main-header {
            position: absolute;
            width: 100vw;
        }
   
        .main-footer {
            width: 100vw;
        }
    }


}


